---

    -   name: Fetch Kanboard Official Repo
        git:
            repo: https://github.com/kanboard/kanboard.git
            dest: /var/www/html
            # version: master
            force: yes

    -   name: Create schema for kanboard
        shell: mysql -u root -p'root' -e "CREATE SCHEMA kanboard DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;"

    -   name: Import schema for kanboard
        shell: mysql -u root -p'root' < /var/www/html/kanboard/app/Schema/Sql/mysql.sql

    -   name: Create DB User kanboard
        shell: mysql -u root -p'root' -e "CREATE USER 'kanboard'@'localhost' IDENTIFIED BY 'kanboard';"

    -   name: Grant Privs to User kanboard
        shell: mysql -u root -p'root' -e "GRANT ALL PRIVILEGES ON kanboard.* TO 'kanboard'@'localhost';"
    
    -   name: Alter Privs to User kanboard
        shell: mysql -u root -p'root' -e "ALTER USER kanboard@'localhost' IDENTIFIED WITH mysql_native_password BY 'kanboard';"
        when:
            - os_check.stdout | regex_search("Ubuntu 20")

    -   name: Create Kanboard Directory
        file:
            path: /var/www/html/kanboard
            state: directory
            # recurse: yes
            # owner: www-data
            # mode: '0755'

    -   name: Enable config
        template:
            src: "config.php.j2"
            dest: "/var/www/html/kanboard/config.php"

    -   name: Sets Apache conf file - Ubuntu
        become: true
        template:
            src: "kanboard.conf.j2"
            dest: "/etc/apache2/sites-available/kanboard.conf"
    
    -   name: Grant Permissions
        file:
            path: /var/www/html/kanboard
            recurse: yes
            owner: www-data
            mode: '0755'
        when:
            - os_check.stdout | regex_search("Ubuntu") 

    -   name: Grant Permissions
        file:
            path: /var/www/html/kanboard
            recurse: yes
            owner: apache
            mode: '0755'
        when:
            - os_check.stdout | regex_search("CentOS")

    -   name: Sets Apache conf file - Ubuntu
        become: true
        template:
            src: "kanboard.conf.j2"
            dest: "/etc/apache2/sites-available/kanboard.conf"
        when:
                - os_check.stdout | regex_search("Ubuntu")

    -   name: Disable default config
        command: a2ensite kanboard.conf
        when:
            - os_check.stdout | regex_search("Ubuntu")

    -   name: Disable default config
        command: a2dissite 000-default.conf
        when:
            - os_check.stdout | regex_search("Ubuntu")

    -   name: Install PHP Packages
        apt: 
            name: "{{ item }}" 
            update_cache: yes 
            state: present
        loop: 
            - php-cli
            - php-common
            - php-mbstring
            - php-gd
            - php-intl
            - php-xml
            - php-mysql
            - php-zip
            - php-curl
            - php-xmlrpc
            - libapache2-mod-php
            - php-gd
            - php-zip
            - php-curl
        when:
            - os_check.stdout | regex_search("Ubuntu")

    -   name: Restart Apache
        service:
            name: apache2
            state: restarted
        when:
            - os_check.stdout | regex_search("Ubuntu")

    -   name: Sets Apache conf file - CentOS
        become: true
        template:
            src: "kanboard.conf.j2"
            dest: "/etc/httpd/conf.d/kanboard.conf"
        when:
                - os_check.stdout | regex_search("CentOS")

    -   name: Install PHP Packages
        yum: 
            name: "{{ item }}" 
            update_cache: yes 
            state: present
        loop: 
            - php-mcrypt
            - curl
            - zlib
            - php-gd
            - php-mbstring
            - php-xml
            - php-mysql
            - php-zip   
        when:
            - os_check.stdout | regex_search("CentOS Linux 8")

    -   name: Enable remi repo - CentOS 7
        command: yum-config-manager --enable remi-php74
        when: 
            - os_check.stdout | regex_search("CentOS Linux 7")

    -   name: Install PHP Packages
        yum: 
            name: "{{ item }}" 
            update_cache: yes 
            state: present
        loop: 
            - curl
            - zlib
            - php-gd
            - php-mbstring
            - php-xml
            - php-zip
            - php-pdo_mysql
        when:
            - os_check.stdout | regex_search("CentOS Linux 7")

    -   name: Restart Apache
        service:
            name: httpd
            state: restarted
        when:
            - os_check.stdout | regex_search("CentOS")

    -   name: Granting Permissions
        file:
            path: /var/www/html/kanboard
            recurse: yes
            owner: www-data
            mode: '0777'
        when:
            - os_check.stdout | regex_search("Ubuntu") 

    -   name: Granting Permissions
        file:
            path: /var/www/html/kanboard
            recurse: yes
            owner: apache
            mode: '0777'
        when:
            - os_check.stdout | regex_search("CentOS") 

    -   name: Disable SELinux
        selinux:
            state: disabled
        when:
            - os_check.stdout | regex_search("CentOS") 